/* Set background color for the entire page */
body {
  background-color: #F6F6F6;
}

/* Set width and center align the container */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 10px;
}

/* Set font size and margin for the header */
h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #3F51B5;
  text-align: center;
}

/* Style the table */
table {
  margin: 0 auto;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
}

/* Style the table headers */
th {
  background-color: #3F51B5;
  color: white;
  padding: 10px;
  font-weight: bold;
}

/* Style the table cells */
td {
  padding: 10px;
  border: 1px solid black;
  color: #333;
}

/* Style the logout button */
.logout-form {
  position: absolute;
  top: 10px;
  right: 10px;
}

input[type=submit] {
  background-color: #3F51B5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

input[type=submit]:hover {
  background-color: #2c3e50;
}
#headline-container {
  position: relative;
  width: 100%;
  height: 50px;
}

/* Style for each headline */
.headline {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  font-size: 20px;
  animation: slide-in 1s;
}

/* Show the first headline */
.headline:first-child {
  display: block;
}

/* Animation for sliding in the headlines */
@keyframes slide-in {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0%);
  }
}
.button{
  background-color: white;
  border: 2px solid black;
  color: green;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 10px 30px;
  cursor: pointer;
}

